<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAKE YOUR LAPTOP</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <img src="img/logo TKL.png" alt="logo">

        <div>
                <input type="search" placeholder= "Buscar productos">  
        </div>
         <div><i class="fas fa-search"></i></div>
       
    <nav>
    <ul>
        <li><a href = "/Ofertas">Ofertas</a></li>
        <li><a href="/Vender">Vender</a></li>
        <li><a href="/Ayuda">Ayuda</a></li>
    </ul>
    <br>
    <ul class="fa-ul">    
        <li><a href="/Crea tu cuenta">Crea tu cuenta</a><i class="fa-regular fa-address-card"></i></li>
        <li><a href="/Ingresá">Ingresá </a><i class="fa-solid fa-right-to-bracket"></i> </li> 
        <li><a href="/Mis compras">Mis compras</a></li><i class="fa-solid fa-basket-shopping"></i>
    </ul>
    </nav>
    <div class="burguer-menu"> 
        <i class="fas fa-bars" style="color: white;"></i>
    </div>
    <br>
    <br>
</header>

<main>   
    <div> 
        cuerpo del sitio, con carrusel         
    </div>
 
<footer>
    <section>
        <ul>
            <li><strong> Paga con tarjeta de credito o en efectivo</strong>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p></li>
            <li><strong>Envios gratis desde $ 2500 </strong>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p></li>
            <li><strong> Seguridad, de principio a fin</strong>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p></li>
            <li>Copyright © 1999-2020 MercadoLiebre S.R.L.
               </li>
        </ul>
    </section>
</footer>

</body>
</html>